<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Criar sala</title>
</head>
<body>

    <h1>Criar sala</h1>

    <form method="POST">

        <label>Nome da sala:</label>
        <input type="text" name="nome" required>

        <br><br>

        <label>Nome do mestre:</label>
        <input type="text" name="nome_mestre" required>

        <br><br>

        <label>Senha do mestre:</label>
        <input type="password" name="senha_mestre" required>

        <br><br>

        <button type="submit">Criar</button>

    </form>

</body>
</html>