<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Jogador - {{ jogador["nome"] }}</title>
</head>
<body>

    <h1>Bem-vindo, {{ jogador["nome"] }}</h1>

    <hr>

    <h2>Minha ficha</h2>

    {% if ficha %}

        <p>
            Personagem:
            {{ ficha["nome_personagem"] }}
        </p>

        <p>
            Vida:
            {{ ficha["vida"] }}
        </p>

        <p>
            Ataque:
            {{ ficha["ataque"] }}
        </p>

        <p>
            Defesa:
            {{ ficha["defesa"] }}
        </p>

    {% else %}

        <p>Você ainda não possui uma ficha.</p>

        <a href="/criar-ficha">
            Criar ficha
        </a>

    {% endif %}

    <hr>

    <h2>Rolagem de dados</h2>

    <button id="botaoD4">Rolar D4</button>

    <div id="resultadoRolagem">

    {% if rolagens %}

        {% for rolagem in rolagens %}

            <p>
                {% if rolagem["nome_jogador"] %}
                    {{ rolagem["nome_jogador"] }}
                {% else %}
                    Mestre
                {% endif %}

                rolou {{ rolagem["dado"].upper() }}
                → {{ rolagem["resultado"] }}
            </p>

        {% endfor %}

    {% else %}

        <p>Nenhuma rolagem ainda.</p>

    {% endif %}

</div>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/rolagem.js') }}"></script>

</body>
</html>